*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:#f5f5f5;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

background:#2c3e50;

padding:20px 80px;

}

.logo{

color:white;

}

nav a{

text-decoration:none;
color:white;
margin-left:25px;
font-size:18px;
transition:.3s;

}

nav a:hover{

color:#f39c12;

}

.hero{

height:500px;

background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");

background-size:cover;
background-position:center;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h1{

font-size:50px;

margin-bottom:20px;

}

.hero p{

font-size:24px;

margin-bottom:30px;

}

.btn{
    padding:15px 30px;
    font-size:18px;
    background:#27ae60;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;

    margin-bottom:20px;   
}
.btn:hover{

background:#219150;

}

.btn2{
    padding:15px 30px;
    font-size:18px;
    background:#e67e22;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.btn2:hover{

background:#d35400;

}

.features{

padding:70px;

text-align:center;

}

.features h2{

margin-bottom:40px;

}

.cards{

display:flex;

justify-content:center;

gap:30px;

}

.card{

background:white;

padding:30px;

width:300px;

border-radius:10px;

box-shadow:0 5px 15px gray;

}

.menu{

padding:70px;

text-align:center;

}

.food-container{

display:flex;

justify-content:center;

gap:30px;

margin-top:40px;

}

.food{

background:white;

padding:20px;

width:250px;

border-radius:10px;

box-shadow:0 5px 15px gray;

}

.food img{

width:100%;

border-radius:10px;

}

.food h3{

margin-top:15px;

}

.food p{

margin:10px;

font-size:20px;

color:red;

}

.food button{

padding:10px 25px;

background:green;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

}

footer{

background:#2c3e50;

color:white;

text-align:center;

padding:20px;

margin-top:50px;

}
.login-container{

width:400px;

margin:100px auto;

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.3);

}

.login-container h1{

text-align:center;

margin-bottom:30px;

}

.login-container label{

display:block;

margin-top:15px;

font-weight:bold;

}

.login-container input{

width:100%;

padding:12px;

margin-top:8px;

margin-bottom:20px;

border:1px solid gray;

border-radius:5px;

font-size:16px;

}

.login-container button{

width:100%;

padding:15px;

background:#27ae60;

color:white;

font-size:18px;

border:none;

border-radius:5px;

cursor:pointer;

}

.login-container button:hover{

background:#1e8449;

}

.login-container a{

text-decoration:none;

font-weight:bold;

}
.dashboard{

padding:60px;
text-align:center;
background:#f5f5f5;

}

.dashboard h1{

font-size:40px;
margin-bottom:10px;

}

.dashboard p{

font-size:18px;
margin-bottom:40px;
color:#555;

}

.dashboard-container{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

max-width:1100px;

margin:auto;

}

.dashboard-card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.2);

transition:.3s;

}

.dashboard-card:hover{

transform:translateY(-8px);

}

.dashboard-card h2{

font-size:55px;

}

.dashboard-card h3{

margin-top:15px;

}

.dashboard-card p{

margin:20px 0;

}

.dashboard-card button{

padding:12px 30px;

background:#27ae60;

color:white;

border:none;

border-radius:5px;

font-size:16px;

cursor:pointer;

}

.dashboard-card button:hover{

background:#1e8449;

}
.add-food{

padding:60px;
background:#f4f6f9;
min-height:80vh;

}

.food-form{

width:700px;
margin:auto;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.2);

}

.food-form h1{

text-align:center;
margin-bottom:30px;
color:#2c3e50;

}

.food-form label{

display:block;
margin-top:18px;
margin-bottom:8px;
font-weight:bold;

}

.food-form input,
.food-form select,
.food-form textarea{

width:100%;
padding:12px;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;

}

.food-form textarea{

resize:none;

}

.button-group{

display:flex;
justify-content:space-between;
margin-top:30px;

}

.save-btn{

background:#27ae60;
color:white;
padding:12px 35px;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;

}

.save-btn:hover{

background:#1e8449;

}

.reset-btn{

background:#e74c3c;
color:white;
padding:12px 35px;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;

}

.reset-btn:hover{

background:#c0392b;

}
.view-food{

padding:60px;
background:#f4f6f9;
min-height:80vh;

}

.view-food h1{

text-align:center;
font-size:40px;
color:#2c3e50;

}

.view-food p{

text-align:center;
margin-bottom:30px;
font-size:18px;

}

table{

width:95%;
margin:auto;
border-collapse:collapse;
background:white;
box-shadow:0 5px 20px rgba(0,0,0,.2);

}

table th{

background:#2c3e50;
color:white;
padding:15px;

}

table td{

padding:15px;
text-align:center;
border-bottom:1px solid #ddd;

}

table tr:hover{

background:#f1f1f1;

}

.food-img{

width:80px;
height:80px;
border-radius:10px;
object-fit:cover;

}

.available{

background:#27ae60;
color:white;
padding:6px 12px;
border-radius:20px;
font-size:14px;

}

.low-stock{

background:#e74c3c;
color:white;
padding:6px 12px;
border-radius:20px;
font-size:14px;

}

.edit-btn{

background:#3498db;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
cursor:pointer;
margin-right:5px;

}

.edit-btn:hover{

background:#2980b9;

}

.delete-btn{

background:#e74c3c;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
cursor:pointer;

}

.delete-btn:hover{

background:#c0392b;

}
.menu-page{

padding:60px;
background:#f5f5f5;

}

.menu-page h1{

text-align:center;
font-size:40px;
color:#2c3e50;

}

.menu-page p{

text-align:center;
margin-bottom:25px;

}

.search-bar{

display:flex;
justify-content:center;
gap:20px;
margin-bottom:40px;

}

.search-bar input,
.search-bar select{

padding:12px;
width:250px;
font-size:16px;
border-radius:8px;
border:1px solid #ccc;

}

.food-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
width:90%;
margin:auto;

}

.food-card{

background:white;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.2);
overflow:hidden;
transition:.3s;

}

.food-card:hover{

transform:translateY(-8px);

}

.food-card img{

width:100%;
height:220px;
object-fit:cover;

}

.food-card h2{

text-align:center;
margin-top:15px;

}

.food-card h3{

text-align:center;
color:#27ae60;
margin:10px;

}

.food-card p{

padding:0 15px;

}

.food-card button{

width:90%;
margin:20px;
padding:12px;
background:#27ae60;
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;

}

.food-card button:hover{

background:#1e8449;

}
.order-section{

padding:60px;
background:#f4f6f9;
min-height:80vh;

}

.order-box{

width:650px;
margin:auto;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.2);

}

.order-box h1{

text-align:center;
margin-bottom:30px;
color:#2c3e50;

}

.order-box label{

display:block;
margin-top:18px;
font-weight:bold;

}

.order-box input,
.order-box select,
.order-box textarea{

width:100%;
padding:12px;
margin-top:8px;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;

}

.order-box textarea{

resize:none;

}

.order-box button{

margin-top:20px;
padding:12px 30px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
background:#27ae60;
color:white;
margin-right:15px;

}

.order-box button:hover{

background:#1e8449;

}
.invoice-section{

padding:60px;
background:#f4f6f9;

}

.invoice{

width:850px;
margin:auto;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.2);

}

.invoice h1{

text-align:center;
color:#2c3e50;

}

.invoice-header{

display:flex;
justify-content:space-between;
margin:25px 0;

}

.customer-table{

width:100%;
border-collapse:collapse;

}

.customer-table td{

padding:10px;
border:1px solid #ddd;

}

.bill-table{

width:100%;
border-collapse:collapse;

}

.bill-table th{

background:#2c3e50;
color:white;
padding:12px;

}

.bill-table td{

border:1px solid #ddd;
padding:12px;
text-align:center;

}

.payment{

margin-top:25px;
text-align:center;

}

.paid{

font-size:22px;
font-weight:bold;
color:green;

}

.thanks{

margin-top:35px;
text-align:center;

}

.bill-buttons{

margin-top:35px;
text-align:center;

}

.bill-buttons button{

padding:12px 30px;
margin:10px;
background:#27ae60;
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;

}

.bill-buttons button:hover{

background:#1e8449;

}
.about,
.contact,
.login-section{

padding:70px;
min-height:80vh;
background:#f4f6f9;

}

.about{

text-align:center;

}

.about p{

max-width:900px;
margin:20px auto;
font-size:18px;
line-height:30px;

}

.about ul{

list-style:none;
margin-top:30px;
font-size:20px;

}

.about li{

margin:15px;

}

.contact form,
.login-box{

width:500px;
margin:auto;
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,.2);

}

.contact input,
.contact textarea,
.login-box input{

width:100%;
padding:12px;
margin:12px 0;
border:1px solid #ccc;
border-radius:8px;

}

.contact button,
.login-box button{

width:100%;
padding:12px;
background:#27ae60;
color:white;
border:none;
border-radius:8px;
font-size:18px;
cursor:pointer;

}

.contact button:hover,
.login-box button:hover{

background:#1e8449;

}

.contact-info{

margin-top:40px;
text-align:center;
font-size:18px;

}
/* Dark Mode Button */

#darkModeBtn{

background:#27ae60;
color:white;
border:none;
padding:10px 18px;
margin-left:20px;
border-radius:8px;
cursor:pointer;
font-size:16px;

}

#darkModeBtn:hover{

background:#1e8449;

}

/* Dark Mode */

.dark-mode{

background:#121212;
color:white;

}

.dark-mode header{

background:#1c1c1c;

}

.dark-mode footer{

background:#1c1c1c;

}

.dark-mode nav a{

color:white;

}

.dark-mode .card,
.dark-mode .food-card,
.dark-mode .dashboard-card,
.dark-mode .login-box,
.dark-mode table,
.dark-mode .invoice,
.dark-mode .order-box{

background:#222;
color:white;

}

.dark-mode table th{

background:#333;

}

.dark-mode input,
.dark-mode textarea,
.dark-mode select{

background:#333;
color:white;
border:1px solid #555;

}

.dark-mode button{

color:white;

}
.pending{
    background: orange;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
}

.preparing{
    background: #2196F3;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
}

.completed{
    background: #28a745;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
}
.food {
    width: 320px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.food img {
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.food-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.food h3 {
    margin-top: 20px;
    min-height: 50px;
}

.food p {
    color: red;
    font-size: 20px;
}
/* ==========================================
   RESPONSIVE DESIGN
========================================== */

/* Tablets */
@media (max-width: 992px){

    header{
        flex-direction: column;
        padding:20px;
        text-align:center;
    }

    nav{
        margin-top:15px;
    }

    nav a{
        display:inline-block;
        margin:10px;
    }

    .hero h1{
        font-size:40px;
    }

    .hero p{
        font-size:20px;
    }

    .cards,
    .food-container{
        flex-wrap:wrap;
    }

    .dashboard-container{
        grid-template-columns:repeat(2,1fr);
    }

    .food-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .food-form,
    .order-box,
    .invoice,
    .contact form,
    .login-box,
    .login-container{
        width:90%;
    }

    table{
        display:block;
        overflow-x:auto;
    }
}


/* Mobile Phones */
@media (max-width:768px){

    header{
        flex-direction:column;
        padding:15px;
    }

    nav{
        display:flex;
        flex-direction:column;
        width:100%;
        margin-top:15px;
    }

    nav a{
        margin:8px 0;
        text-align:center;
    }

    .hero{
        height:auto;
        padding:80px 20px;
    }

    .hero h1{
        font-size:32px;
    }

    .hero p{
        font-size:18px;
    }

    .dashboard-container{
        grid-template-columns:1fr;
    }

    .food-grid{
        grid-template-columns:1fr;
    }

    .cards{
        flex-direction:column;
        align-items:center;
    }

    .food-container{
        flex-direction:column;
        align-items:center;
    }

    .food,
    .card,
    .food-card{
        width:100%;
        max-width:350px;
    }

    .button-group{
        flex-direction:column;
        gap:15px;
    }

    .search-bar{
        flex-direction:column;
        align-items:center;
    }

    .search-bar input,
    .search-bar select{
        width:100%;
        max-width:350px;
    }

    .food-form,
    .order-box,
    .invoice,
    .contact form,
    .login-box,
    .login-container{
        width:95%;
        padding:25px;
    }

    .invoice-header{
        flex-direction:column;
        gap:15px;
    }

    .bill-buttons button{
        width:100%;
        margin:10px 0;
    }
}


/* Small Phones */
@media (max-width:480px){

    .hero h1{
        font-size:26px;
    }

    .hero p{
        font-size:16px;
    }

    h1{
        font-size:28px !important;
    }

    h2{
        font-size:22px;
    }

    p{
        font-size:15px;
    }

    .btn,
    .btn2,
    button{
        width:100%;
    }

    .food-card img,
    .food img{
        height:180px;
    }
}

.report-btn{
    display:inline-block;
    background:#27ae60;
    color:white;
    padding:12px 30px;
    border-radius:8px;
    text-decoration:none;
    font-size:16px;
    font-weight:bold;
    transition:0.3s;
}

.report-btn:hover{
    background:#1e8449;
}