<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Order</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>

<div class="logo">
<h2>🍽 University Canteen</h2>
</div>

<nav>
<a href="{{ url_for('dashboard') }}">Dashboard</a>
<a href="{{ url_for('allorder') }}">Orders</a>
<a href="{{ url_for('login') }}">Logout</a>
</nav>

</header>

<div class="container">

<h1>Order Details</h1>

<p><strong>Order ID:</strong> {{ order[0] }}</p>
<p><strong>Customer:</strong> {{ order[1] }}</p>
<p><strong>Student ID:</strong> {{ order[2] }}</p>
<p><strong>Phone:</strong> {{ order[3] }}</p>
<p><strong>Food:</strong> {{ order[4] }}</p>
<p><strong>Quantity:</strong> {{ order[5] }}</p>
<p><strong>Total:</strong> Rs.{{ order[6] }}</p>
<p><strong>Instructions:</strong> {{ order[7] }}</p>
<p><strong>Status:</strong> {{ order[8] }}</p>

<br>

<a href="{{ url_for('allorder') }}">
<button>⬅ Back</button>
</a>

</div>

</body>
</html>